@(message: String, searchForm: Form[Profesional], postUrl: play.api.mvc.Call)
@import helper._

@main(message) {


    <div class="alert"> @message </div>
@form(postUrl, 'class -> "form") {
    @if(searchForm.hasGlobalErrors) {
        <div class="alert alert-danger">
            @searchForm.globalError.message
        </div>
    }

    <fieldset>
     
      	<div class="panel-group" id="accordion"><!--INICIA COLLAPSE1-->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Datos personales</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body"><!--CODE HERE(FORMULARIO)-->
		  
          
          
	  <div class="row">
            <div class="col-md-2"> 
                @inputText(searchForm("nombre"),'_label -> "Nombre",'class -> "form-control")</div>
                
            <div class="col-md-4">
                @inputText(searchForm("apellido1"),'_label -> "Appellido 1",'class -> "form-control")
            </div>
              
              <div class="row">
                  <div class="col-md-4">@inputText(searchForm("apellido2"),'_label -> "Appellido 2",'class -> "form-control")</div>
         
              </div>
              
              <div class="col-md-2">
               @input(searchForm("genero")) { (id, name, value, args) =>   <select name="@name" id="@id" @toHtmlArgs(args)>
                                                                         <option value="Masculino" selected>Masculino</option>
                                                                         <option value="Femenino">Femenino</option>
                                                                        </select>}
            </div>
              
              <div class="col-md-3">
                @inputText(searchForm("dueDate"),'_label -> "Fecha de nacimiento",'class -> "form-control")
    
            </div>
              
              
              <div class="col-md-2">
                @inputText(searchForm("nacionalidad"),'_label -> "Nacionalidad",'class -> "form-control")
            </div>
              
              </div>
              
          <div class="row">
              <div class="col-md-2">
                @inputText(searchForm("cedula"),'_label -> "Cedula",'class -> "form-control")
            </div>
              
               <div class="col-md-3">
                @inputText(searchForm("lugarResidencia"),'_label -> "Ludar de Residencia",'class -> "form-control")
            </div>
              
              </div>
              
             <div class="col-md-3">
                @inputText(searchForm("direccionExacta"),'_label -> "Direccion Exacta",'class -> "form-control")
            </div>
              
             <div class="col-md-2">
                @inputText(searchForm("telefono1"),'_label -> "Telefono",'class -> "form-control")
            </div>  

        
          
          
      
      </div><!--Fin formulario-->
    </div>
  </div><!--FIN COLLAPSE1-->
  <div class="panel panel-default"><!--INICIA COLLAPSE2-->
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        Datos Academicos</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
		  
		  <!--CODE HERE(FORMULARIO)-->
                  <div class="row">
                      
                 
                  
                      
                  @input(searchForm("nivelAcademico")) { (id, name, value, args) =>   <select name="@name" id="@id" @toHtmlArgs(args)>
                                                                                        <option value="Profesional" selected>Profesional</option>
                                                                                <option value="Empresa">Empresa</option>
                                                                                <option value="0">Ning&#250;n grado</option>
	<option value="1">Primaria incompleta</option>
	<option value="2">Primaria completa</option>
	<option value="3">Secundaria acad&#233;mica incompleta</option>
	<option value="14">Tercer a&#241;o de secundaria (Noveno a&#241;o aprobado)</option>
	<option value="4">Secundaria acad&#233;mica completa</option>
	<option value="5">Secundaria t&#233;cnica incompleta</option>
	<option value="6">Secundaria t&#233;cnica completa</option>
	<option selected="selected" value="7">Universitaria incompleta</option>
	<option value="8">Diplomado o T&#233;cnico universitario</option>
	<option value="9">Bachillerato universitario</option>
	<option value="10">Licenciatura</option>
	<option value="11">Maestr&#237;a sin licenciatura</option>
	<option value="12">Maestr&#237;a con licenciatura</option>
	<option value="13">Doctorado</option>

                                                                           </select>}  
                                                                           
               <div class="col-md-3">
                @inputText(searchForm("tipoDeColegio"),'_label -> "Tipo De Colegio",'class -> "form-control")
            </div>                                                            
                                                                           
             </div>
                  
                  
        <div class="row">
                      
                  <div class="col-md-2">
               @input(searchForm("estadoEstudio")) { (id, name, value, args) =>   <select name="@name" id="@id" @toHtmlArgs(args)>
                                                                         <option value="Si" selected>Si</option>
                                                                         <option value="No">No</option>
                                                                        </select>}
            </div>      
                  </div>
                  <div class="row">
                      Digite los titulos que posea
                      
                      <div class="col-md-3"> 
                @textarea(searchForm("nombreTitulo"),'_label -> "Titulo",'class -> "form-control")</div> 
                      
                       <div class="col-md-2"> 
                @textarea(searchForm("ano"),'_label -> "Ano",'class -> "form-control")</div>
                      
                      
                       <div class="col-md-2"> 
                @textarea(searchForm("institucionTitulo"),'_label -> "Institucion",'class -> "form-control")</div>
                      
                  </div>
                  
                  
                  
                  
                  
                  </div>
                  
		  </div><!--Fin formulario-->
    </div>
  </div<!--FIN COLLAPSE2-->
  <div class="panel panel-default"><!--INICIA COLLAPSE3-->
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Condiciones Laborales</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
		  
		  <!--CODE HERE(FORMULARIO)-->
      
                  <div class="row">
                      
                       <div class="col-md-2"> 
                @inputText(searchForm("salarioAspirar"),'_label -> "Salario a Aspirar",'class -> "form-control")</div>
                      
                  </div>
                  
                   @textarea(searchForm("residenciaPreferida"),'_label -> "Residencia Preferida",'class -> "form-control")</div>
                  <div class="row">
                      
                      
                      
                      
                  </div>
                  
                  
      </div><!--Fin formulario-->
  </div>
</div><!--FIN COLLAPSE3-->
 <div class="panel panel-default"><!--INICIA COLLAPSE4-->
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
        Experiencia Laboral</a><!--FIX ME NAME-->
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body"><!--CODE HERE(FORMULARIO)-->
      
          <div class="row">
      Posee Experiencia Laboral?
      
      @input(searchForm("experienciaLaboral")) { (id, name, value, args) =>   <select name="@name" id="@id" @toHtmlArgs(args)>
                                                                         <option value="Si" selected>Si</option>
                                                                         <option value="No">No</option>
                                                                        </select>}
      </div>
      
      </div><!--Fin formulario-->
  </div>
</div><!--FIN COLLAPSE4-->
 <div class="panel panel-default"><!--INICIA COLLAPSE5-->
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
        Otros Conocimientos</a><!--FIX ME NAME-->
      </h4>
    </div>
    <div id="collapse5" class="panel-collapse collapse">
      <div class="panel-body">
		  
		  <!--CODE HERE(FORMULARIO)-->
      
      </div><!--Fin formulario-->
    </div>
  </div><!--FIN COLLAPSE5-->
</div>
<div class="panel panel-default"><!--INICIA COLLAPSE6-->
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
        Otros Datos</a><!--FIX ME NAME-->
      </h4>
    </div>
    <div id="collapse5" class="panel-collapse collapse">
      <div class="panel-body">
		  
		  <!--CODE HERE(FORMULARIO)-->
      
      </div><!--Fin formulario-->
    </div>
  </div><!--FIN COLLAPSE6-->
  
  
  </fieldset>
   
     <div class="form-actions text-center">
        <input type="submit" class="btn btn-success" value="Guardar" >
           
    </div>
   
   }  
}