@(message: String, searchForm: Form[Profesional], postUrl: play.api.mvc.Call)
@import helper._

@main("message") {


    <div class="alert"> @message </div>
@form(postUrl, 'class -> "form") {
    @if(searchForm.hasGlobalErrors) {
        <div class="alert alert-danger">
            @searchForm.globalError.message
        </div>
    }

    <fieldset>
     
      	<div class="panel-group" id="accordion"><!--INICIA COLLAPSE1-->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Datos personales</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body"><!--CODE HERE(FORMULARIO)-->
		  
          
          
	  <div class="row">
            <div class="col-md-2"> 
                @inputText(searchForm("nombre"),'_label -> "Nombre",'class -> "form-control")</div>
                
            <div class="col-md-4">
                @inputText(searchForm("apellido1"),'_label -> "Appellido 1",'class -> "form-control")
            </div>
              
              <div class="row">
                  <div class="col-md-4">@inputText(searchForm("apellido2"),'_label -> "Appellido 2",'class -> "form-control")</div>
                  
              </div>

        </div>
          
          
      
      </div><!--Fin formulario-->
    </div>
  </div><!--FIN COLLAPSE1-->
  <div class="panel panel-default"><!--INICIA COLLAPSE2-->
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        Datos Academicos</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
		  
		  <!--CODE HERE(FORMULARIO)-->
		  
		  </div><!--Fin formulario-->
    </div>
  </div<!--FIN COLLAPSE2-->
  <div class="panel panel-default"><!--INICIA COLLAPSE3-->
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Condiciones Laborales</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
		  
		  <!--CODE HERE(FORMULARIO)-->
      
      </div><!--Fin formulario-->
  </div>
</div><!--FIN COLLAPSE3-->
 <div class="panel panel-default"><!--INICIA COLLAPSE4-->
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
        Experiencia Laboral</a><!--FIX ME NAME-->
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body"><!--CODE HERE(FORMULARIO)-->
      
      
      
      </div><!--Fin formulario-->
  </div>
</div><!--FIN COLLAPSE4-->
 <div class="panel panel-default"><!--INICIA COLLAPSE5-->
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
        Otros Conocimientos</a><!--FIX ME NAME-->
      </h4>
    </div>
    <div id="collapse5" class="panel-collapse collapse">
      <div class="panel-body">
		  
		  <!--CODE HERE(FORMULARIO)-->
      
      </div><!--Fin formulario-->
    </div>
  </div><!--FIN COLLAPSE5-->
</div>
<div class="panel panel-default"><!--INICIA COLLAPSE6-->
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
        Otros Datos</a><!--FIX ME NAME-->
      </h4>
    </div>
    <div id="collapse5" class="panel-collapse collapse">
      <div class="panel-body">
		  
		  <!--CODE HERE(FORMULARIO)-->
      
      </div><!--Fin formulario-->
    </div>
  </div><!--FIN COLLAPSE6-->
  
  
  </fieldset>
    
     <div class="form-actions text-center">
        <input type="submit" class="btn btn-success" value="Guardar" >
        
    </div>
   
   }  
}