@(message: String, postUrl: play.api.mvc.Call)
@import helper._

@main("message") {
     
        <ul class="nav nav-pills">
  
  <li role="presentation" class="dropdown">
      
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <b>Perfil</b>  <span class="caret"></span>
    </a>
   
    <ul class="dropdown-menu">
     <a href="@routes.EmpresaController.crearDescripcionGet()" class="btn btn-danger">Descripcion</a>
    </ul>
      
     
     
  </li> 
  
   <li role="presentation" class="dropdown">
      
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <b>Cuenta</b> <span class="caret"></span>
    </a>
   
    <ul class="dropdown-menu">
      <a href="#" class="btn btn-danger">Configuraciones</a>
    </ul>
     
     
  </li>
  
  
  <li role="presentation" class="dropdown">
      
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <b>Red</b> <span class="caret"></span>
    </a>
   
    <ul class="dropdown-menu">
         <a href="#" class="btn btn-danger">Ofertas</a>
    </ul>
     
     
  </li>
   
</ul>
   
    
}



