@(message: String, postUrl: play.api.mvc.Call)
@import helper._

@main("message") {
     
        <ul class="nav nav-pills">
  ...
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Perfil(Drop) <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      Crear curriculum Empresa
    </ul>
      <ul class="dropdown-menu">
          
      </ul>
  </li>
  ...
</ul>
   
    
}

