@(message: String,  searchForm: Form[CreateAccount], postUrl: play.api.mvc.Call)
@import helper._

@main(message) {


<div class="alert"> @message </div>
@form(postUrl, 'class -> "form") {
    @if(searchForm.hasGlobalErrors) {
        <div class="alert alert-danger">
            @searchForm.globalError.message
        </div>
    }

    <fieldset>

        <div class="row">
            <div class="col-md-2"> 
                @inputText(searchForm("email"),'_label -> "Correo Electronico",'class -> "form-control")</div>
                
            <div class="col-md-4">
                @inputPassword(searchForm("contrasena"),'_label -> "Contrasena",'class -> "form-control")
            </div>

        </div>
        
        @input(searchForm("tipoUsuario")) { (id, name, value, args) =>   <select name="@name" id="@id" @toHtmlArgs(args)>
                                                                         <option value="Profesional" selected>Profesional</option>
                                                                         <option value="Empresa">Empresa</option>
                                                                        </select>  
        }

    </fieldset>
    
    <div class="btn-group" role="group" aria-label="...">
    <a href="@routes.ProfesionalController.crearMainGet()" class="btn btn-default">Registrarse</a>
    
    
  </div>
    
    }
    
}
